# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# Firebase Client Configuration
VITE_FIREBASE_API_KEY="AIzaSyD9DV-jDQw-0s-zuwHWmpqQW2W-zEPrAXE"
VITE_FIREBASE_AUTH_DOMAIN="makeup-artist-2d609.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="makeup-artist-2d609"
VITE_FIREBASE_STORAGE_BUCKET="makeup-artist-2d609.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="564081230654"
VITE_FIREBASE_APP_ID="1:564081230654:web:b78dbade6be20a5b4aa26f"
VITE_FIREBASE_DATABASE_URL="https://makeup-artist-2d609-default-rtdb.firebaseio.com"

